Flask==0.10.1
Flask-Admin==1.4.0
Flask-Login==0.3.2
Flask-Principal==0.4.0
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.3
argparse==1.2.1
blinker==1.4
flask-peewee==0.6.7
itsdangerous==0.24
peewee==2.8.0
wsgiref==0.1.2
wtf-peewee==0.2.6
