/* Larger than phablet */
@media (min-width: 550px) {
  .main {
    border: 1px solid #7F7F7F;
    padding: 10px;
  }
  .container-main {
    max-width: 550px;
  }
}

.notification {
  background-color: orange;
  padding: 1rem;
  border-radius: 0.6em;
}
