body {
  margin-top: 10%;
}

.notification {
  background-color: #FFCE74;
  padding: 1rem;
  border-radius: 0.6em 0.6em 0 0;
}

.dash-button {
  text-align: left;
  height: auto;
  padding: 5px;
}

.dash-button .dash-button-title {
  font-size: 150%;
}

.dash-menubar {
  margin: 0 0 10px 0;
  padding: 10px;
  color: white;
  background-color: black;
}

.dash-menubar a {
  color: #FFEABB;
  text-decoration: none;
  text-transform: uppercase;
}

.dash-menubar a:hover {
  color: #FFCE74;
}

.desktop-only {
  display: none;
}

/* Larger than phablet */
@media (min-width: 550px) {
  body {
    background-color: #BFBFBF;
    margin-top: 10em;
  }
  .main {
    padding: 10px;
  }
  .container-main {
    max-width: 550px;
    background-color: white;
    border-width: 1px 5px 5px 1px;
    border-style: solid;
    border-color: #7F7F7F;
  }
  .logo-main {
    padding: 10px;
  }
  .desktop-only {
    display: inherit;
  }
}
