{% extends 'base.htm' %}
{% block title %}FlashCash: FAQ{% endblock %}
{% block content %}
<h4>FlashCash: Frequently Asked Questions</h4>
<p>Are you ready to get started with FlashCash? As a customer, there's nothing to it! All you have to do is ask for FlashCash notes when withdrawing money from your local Cheetabank branch. You will find answers to some commonly-asked questions below.</p>
<h5>What is FlashCash?</h5>
<p>FlashCash is a new online-offline hybrid payment system by Cheetabank. We aim to keep FlashCash as simple as possible for you, as an end-user, to use. That's why we have a zero registration, zero sign-up process. It is a service available for all Cheetabank customers to use.</p>
<h5>How do I start using FlashCash?</h5>
<p>When withdrawing money from your bank, you usually receive ordinary SSS notes. If you wish, you can ask for your money to be given in FlashCash notes instead. These act like normal SSS notes, but are web-enabled so you can also use them for online payment.</p>
<h5>How do I make a FlashCash payment?</h5>
<p>FlashCash notes can be exchanged the same way as normal notes, to anybody who accepts them. However, you can also take advantage of FlashCash's web-enabled features to make payments in several additional ways. To do this, all you have to do is check the Note ID and Unlock Code of your FlashCash note. This information can be given to the person you are paying in a variety of ways, including:
<ul>
  <li>read out over the phone</li>
  <li>entered into an online form</li>
  <li>read out or handed over the shop counter</li>
  <li>written and posted in an inland or letter</li>
</ul>
Once the person gets the Note ID and Unlock Code, they will use their Payment Portal to get the money into their account. After this, your physical note becomes useless and can be discarded.</p>
<h5>How do I find the Note ID?</h5>
<p>The Note ID is written in on the left-hand side of every FlashCash note, right under the FlashCash logo.</p>
<h5>How do I find the Unlock Code?</h5>
<p>The Unlock code is written on the left-hand side of every FlashCash note, just under the Note ID. You will need to scratch away the white covering with your finger to reveal the secret Unlock Code.</p>
<h5>Is FlashCash safe?</h5>
<p>FlashCash is safe, because nobody can take your money unless they know both your Note ID and Unlock Code. There are over 56,000,000,000 possible combinations of each, so it is very unlikely that someone will guess them. FlashCash notes are therefore practically as safe as ordinary notes, provided you take a few elementary precautions:
<ul>
  <li>Do not accept a FlashCash note if the Unlock Code has already been scratched open</li>
  <li>Do not read out the Note ID and Unlock Code to anyone unless you are going to pay them the money</li>
  <li>Do not scratch open the Unlock Code until you are ready to make a payment</li>
  <li>If you are unsure if a FlashCash note given to you is genuine, have it checked immediately at your local Cheetabank branch</li>
</ul>
</p>
<h5>How do I know my payment has gone through?</h5>
<p>Currently there is no way of checking the status of FlashCash notes, except by checking at the Cheetabank offices. However, we are working on a system where anyone with interenet access can check the status of FlashCash notes.</p>
<h5>Do I need Internet access to use FlashCash?</h5>
<p>No. FlashCash was desgined to allow even those with little or no Internet access to benefit from new technology. FlashCash payments can be made by anyone who can use ordinary SSS notes. Companies need to have Internet access to accept FlashCash payments, but no such restriction exists for the customer.</p>
{% endblock %}
