{% extends 'base.htm' %}
{% from 'macros.htm' import dash_button %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="ten columns">
    <a href="{{ url_for('dashboard') }}" alt="Dashboard">
      <i class="fa fa-home fa-2x"></i>
    </a>
    {{ current_user.name }}
  </div>
  <div class="two columns" style="item-align: right;">
    <a href="{{ url_for('edit_profile') }}" alt="Profile">
      <i class="fa fa-user fa-2x"></i>
    </a>
    <a href="{{ url_for('logout') }}" alt="Logout">
      <i class="fa fa-sign-out fa-2x"></i>
    </a>
  </div>
</div>

  {% block dash_content %}
  <div class="row">
    <div class="twelve columns">
      <span><b>Portal:</b> {{  current_user.portal_code }}</span>
      <span><b>Balance:</b> {{ current_user.balance }}</span>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      {{ dash_button('dot-circle-o', 'Manage portals', 'dash_portals') }}
      {{ dash_button('plus', 'Claim Notes', 'claim_notes') }}
      {%- if current_user.is_admin %}{{ dash_button('gear', 'Admin', 'admin.index') }}{% endif %}
    </div>
  </div>
  {% endblock %}
{% endblock %}
