{% extends 'base.htm' %}
{% block title %}Sign in{% endblock %}
{% block content %}
<h4 class="dash-menubar">Sign in to FlashCash</h4>
<div class="row">
  <form action="" method="post">
    {% if form.errors %}
    <div class="twelve columns">
      <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {{ form.csrf_token }}
    <div class="twelve columns">
      {{ form.username.label }}
      {{ form.username }}
    </div>
    <div class="twelve columns">
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <input type="submit" value="Sign in" />
    <div class="twelve columns">
      Don't have an account yet? <a href="{{ url_for('signup') }}">Create one now!</a>
    </div>
  </form>
</div>
{% endblock %}
