{% macro dash_button(icon, title, page=None) %}
<a href="{% if page %}{{ url_for(page) }}{% else %}# {% endif %}" title="{{ title }}" class="fa-stack fa-3x dash_button">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-{{ icon }} fa-stack-1x fa-inverse"></i>
</a>
{% endmacro %}

{% macro field_with_errors(field) -%}
{{ field.label }}
{% if field.errors -%}
<ul class="errors">
  {% for error in field.errors -%}
  <li>{{ error }}</li>
  {%- endfor %}
</ul>
{%- endif %}
{{ field }}
{% endmacro %}
