<p>Hello, {{ name }}!</p>

<p>Your FlashCash account's email address has been changed to <a href="mailto:{{ new_email }}">{{ new_email }}</a>.</p>

<p>If you requested this change, please check your {{ new_email }} inbox for the email verification link.</p>

<p>If you did <strong>not</strong> request an email change, please contact your branch
manager immediately, as your account could have been hacked.</p>

--<br>
Questions? Email <a href="mailto:cheetabank@sssnet.tk">cheetabank@sssnet.tk</a> for help and information.
</p>
